*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
    box-sizing: border-box;
}
p{
    font-size: 16px;
}
/* header part */

.navigation {
    text-align: center;
    display: grid;
    grid-template-columns: 39% 40% 20%;
    align-items: center;
    background-color: #2d2951;
    line-height: 2;
    color: #fff;
}
.icon{display: none;}
.menu-list {
    display: inline-flex;
    list-style-type: none;
}
.menu-list li{
    margin: 0 20px;
    font-size: 15px;
}
.logo h1, .logo h1 i{
    /* width: 250px;
    height: 50px; */
    color: #FBC315;
}
/* second block style */
.row {
    display: grid;
    grid-template-columns: 25% 20% 20% 15% 20%;
    margin: 15px 0;
}
.row-1{
    display: flex;
}
.second{
    background-color: #19194c;
    color: #fff;
    padding: 4.5rem;
}
button {
    width: 120px;
    padding: 10px 15px;
    border-radius: 8px;
    background: linear-gradient(100deg, #3DD8EE, #0997E8);
    color: #fff;
    font-weight: 700;
    border: 1px solid #599ebb;
}
.btn {
    margin: 0 auto !important;
    width: fit-content;
}
.one span{
    font-size: 16px;
    color: #858585;
}
.one img{
    height: 20px;
    width: 20px;
    border-radius: 30px;
}

/* third */

.third{
    background-color: #0f0f49;
    padding: 4.5rem;
    display: grid;
    grid-template-columns: 50% 50%;

}
.in-block {
    display: flex;
    margin: 15px 0;
}
.in-block .img{
    margin: 0 14PX 0 0;
    background-color: #0F1535;
    padding: 15px;
}
.right-block h2, .fourth-block h2{
    font-size: 36px;
    font-weight: 600;
}
.right-block p, .fourth-block p{font-size: 24px; font-weight: 400;}

/* fourth */

.fourth{
    background-color: #2d2951;
    padding: 4.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
}
.up{
    color: #00FF47;
}
.img-1 i{
    background-color: #fff;
    color: #0f0f49;
    padding: 7px;
    border-radius: 20px;
    margin-right: 10px;
}

.group-c .img img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.img-block{
    border: 1px solid #0f0f49;
    box-shadow: 0px 0px 4px #dfdada;
    border-radius: 20px;
    padding: 20px   ;
    width: 350px;
    /* margin:  0 auto; */
}
.group-c {
    /* width: 350px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    /* padding: 20px 0; */
}
.img-text h4{font-size: 24px;}
.bit-text, .up{font-size: 16px;}
/* footer */
footer{
    background-color: #00092A;
}
.foot {
    padding: 10px;
    text-align: center;
    background: #19193f;
}
footer {
    background-color: #00092A;
    display: grid;
    grid-template-columns: 50% 15% 15% 15%;
    padding: 4.5rem;
}
.blk-1 h3{
    margin-bottom: 15px;
}
.blk-1 ul li{
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 16px;
}


/* media */

@media (max-width:769px){
    .third, .fourth, .footer{
        display: block;
        padding:1rem;
    }
    .second{padding: 1rem;}
    .right-block{
        margin-top: 25px;
    }
    .blk-1 h3{
        margin-top: 20px;
    }
    /*  */
    p, li, div, .blk-1 ul li{
        font-size: 15px;
    }
    h2{
        font-size: 1rem;
    }
    /* p{width: 300px;} */
    .img-block{width: 250px;margin: 0 auto;}
    /* .second p{width: 450px;} */
    .one img{
        height: 15px;
        width: 15px;
    }
    .row{grid-template-columns: 20% 14% 9% 7% 17%;
    }
    .menu-list, .search{display: none;}

    /* .menu-list li, .search i{
        display: block;
    } */
    .icon{display: block;position: absolute; right: 15px; top: 10px;}
   
}

@media(max-width:500px){
    .img-block{
        padding: 20px 10px;
    width: 250px;
    }
    .group-c{
        /* width: 0; */
    }
    p{width: 250px;}
    .blk-1 img{
        width: 200px;
    }
    .img-block {
        margin: 0 auto;
    }
    .third, .fourth, .footer, .second{
        padding:1rem;
    }
    .row p, .row p span{
        font-size: 11px;
    }
    .row{grid-template-columns: 28% 15% 11% 10% 30%;}
    .one img{
        height: 10px;
        width: 10px;
    }
}